<!-- BEGIN unhide_open --><dl class="hidebox unhide"><dt>{L_HIDEBB_MESSAGE_UNHIDE}</dt><dd><!-- END unhide_open -->
<!-- BEGIN unhide_close --></dd></dl><!-- END unhide_close -->
<!-- BEGIN hide_reply --><dl class="hidebox hi"><dt>{L_HIDEBB_MESSAGE_HIDDEN}</dt><dd>Please post a reply to see the hidden content.</dd></dl><!-- END hide_reply -->
<!-- BEGIN hide_thanks --><dl class="hidebox hi"><dt>{L_HIDEBB_MESSAGE_HIDDEN}</dt><dd>Please press the thank you button to see the hidden content.</dd></dl><!-- END hide_thanks -->
<!-- BEGIN hide_both --><dl class="hidebox hi"><dt>{L_HIDEBB_MESSAGE_HIDDEN}</dt><dd>Please press the thank you button or post a reply to see the hidden content.</dd></dl><!-- END hide_both -->
<!-- BEGIN hide --><dl class="hidebox hi"><dt>{L_HIDEBB_MESSAGE_HIDDEN}</dt><dd>Lasciate ogne speranza, voi ch`intrate</dd></dl><!-- END hide -->
